GROQ_API_KEY="generate-your-api-key"
PINECONE_API_KEY="pinecone-api-key"
URL_DATABASE = "mysql+asyncmy://root:passworf@localhost:3306/tdgpt"
SECRET_KEY="sas77a4w57iauhiy4r"
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALGORITHM="HS256"